<p>
    <button on:click={{ updateHandler1 }}>set handler 1</button>
    <button on:click={{ updateHandler2 }}>set handler 2</button>
</p>

<p>{{ number }}</p>

<button on:click={{ clickHandler }}>click</button>
